* {
    margin: 0;
    padding: 0;
}

.menu {
    background-color: #3498db;
}

.menu ul {
    text-align: center;
}

.menu ul li {
    list-style: none;
    position: relative;
    display: inline-block;
}

.menu ul li:hover {
    background-color: #f39c12;
}

.menu ul li a {
    text-decoration: none;
    color: white;
    display: inline-block;
    padding: 20px 15px;
}

.menu ul li ul {
    position: absolute;
    background-color: black;
    width: 150px;
    text-align: left;
    top: 100%;
    left: 0;
    /* display: none; */
    opacity: 0;
    visibility: hidden;
    transition: .5s;
    transform: scale(0);
    transform-origin: top;
}

.menu ul li:hover>ul {
    display: block;
    opacity: 1;
    visibility: visible;
    transform: scale(1);
}

.menu ul li ul li:hover {
    background-color: rgb(66, 192, 66);
}

.menu ul li ul li {
    display: block;
}

.menu ul li ul li a {
    padding: 10px 30px;
}

.menu ul li ul li ul {
    top: 0;
    left: 95%;
}